<configuration>

  <property name="LOG_PATTERN"
    value="%d{HH:mm:ss} | %-5level | %-20logger{0} | %msg%n"/>
  <!-- Read browser from system property -->
  <property name="BROWSER" value="${browser:-LOCAL}"/>

  <!-- Base log directory -->
  <property name="LOG_DIR" value="${logDir:-build/logs/${BROWSER}}"/>

  <!-- Silence WebDriverManager INFO logs -->
  <logger name="io.github.bonigarcia.wdm" level="WARN"/>

  <!-- Console -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- File Appender -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/test-execution.log</file>

    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

      <fileNamePattern>
        ${LOG_DIR}/test-execution.%d{yyyy-MM-dd}.log
      </fileNamePattern>

      <maxHistory>7</maxHistory>

    </rollingPolicy>

    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>

  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
